{% extends "govuk/template.njk" %}

{% block header %}
  <header class="govuk-header govuk-header--app" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__content">
        <a href="/" class="govuk-header__link govuk-header__service-name">
          Interview question finder
        </a>
      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
