{% extends "govuk/template.njk" %}

{% set pageTitle = "What skills are you hiring for?" %}

{% block head %}
  <link href="/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}

{% endblock %}

{% block content %}
 
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

  {% call govukFieldset({
    legend: {
      text: "What skills are you hiring for?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

  <p class="govuk-body">Please select the required 
      categories to receive relevant 
      questions.
  </p>
    
  {% from "govuk/components/button/macro.njk" import govukButton %}
  
  <form action="/question" method="POST">

  {% for group in checkboxGroups %}
  {{ govukCheckboxes({
    name: group.title,
    fieldset: {
      legend: {
        html: "<strong> Select " + group.title.toLowerCase() + "</strong>",
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: group.checkboxes
  }) }}
  {% endfor %}

    {{ govukButton({
      text: "Save and continue",
      type: "submit"
    }) }}
    </form>

  {% endcall %}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
