{% extends "govuk/template.njk" %}
{% set pageTitle = "What skills are you hiring for?" %}

{% block head %}
  <link href="/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}

  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

  {% call govukFieldset({
    legend: {
      text: "What skills are you hiring for?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

  {# <h1 class="govuk-heading-xl">Default page template</h1>
  #}
  <p class="govuk-body">Please select the required 
      categories to receive relevant 
      questions.
  </p>

    {{ govukCheckboxes({
      name: "technicalExperience",
      fieldset: {
        legend: {
          html: "<strong>Select technical experience</strong>",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "java",
          text: "Java",
          checked: true
        },
        {
          value: "cSharp",
          text: "C#",
          checked: true
        },
        {
          value: "azure",
          text: "Azure"
        }
      ]
    }) }}

    {{ govukCheckboxes({
      name: "workingStyle",
      fieldset: {
        legend: {
          html: "<strong>Select working style</strong>",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "alone", 
          text: "Working alone"
        },
        {
          value: "team",
          text: "Working in a team",
          checked: true
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue",
      href: "question"
    }) }}

  {% endcall %}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
