{% extends "govuk/template.njk" %}
{% set pageTitle = "Your assigned questions" %}

{% block head %}
  <link href="/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{% endblock %}

{% block content %}

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<h1 class="govuk-heading-xl">
  {{ pageTitle }}
</h1>  

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% for category, skills in submittedData %}

{% if skills is string %}
  {% set skillList = skills %}
{% else %}
  {% set skillList = skills | join("<br>") %} 
{% endif %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: category
      },
      value: {
        html: skillList
      }

    }
    ]
})}}

  {% endfor %}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set itemsList = [] %}

{% for question in accordion %}
  {% for question in question %}
    {% set itemsList = (itemsList.push({
        heading: {
            text: question.question
        },
        content: {
            html: ""
            + "<h3 class='govuk-heading-s'>Why do we ask this?</h3>"
            + "<p class='govuk-body'>" + question.whyDoWeAskThis + "</p>"
            + "<h3 class ='govuk-heading-s'>Guidance answer</h3>" 
            + "<strong>" + question.guidanceAnswer + "</strong>"
        }
    }), itemsList) %}
{% endfor %}
{% endfor %}

{{ govukAccordion({
    id: "accordion-default",
    items: itemsList
}) }}


{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}

