{% extends "govuk/template.njk" %}
{% set pageTitle = "Your assigned questions" %}

{% block head %}
  <link href="/main.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{% endblock %}

{% block content %}

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<h1 class="govuk-heading-xl">
  {{ pageTitle }}
</h1>  

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Technical experience"
      },
      value: {
        html: ""
        + "Java<br>"
        +"C#"
      }
    },
    {
      key: {
        text: "Working style"
      },
      value: {
        text: "Working in a team"
      }
   
    }
  ]
}) }}

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Is Java a pure object-oriented programming language?"
      },
      content: {
        html: ""
        + "<h3 class='govuk-heading-s'>Why do we ask this?</h3>" 
        + "<p class='govuk-body'>We want to know if the interviewee knows what makes a language object-oriented.</p>"
        + "<h3 class ='govuk-heading-s'>Guidance answer</h3>"
        + "<p class='govuk-body'>Java is not a pure object-oriented language as it uses primitive types such as byte, boolean, char, short, int, float, long and double.</p>"
      }
    },
    {
      heading: {
        text: "In C# how could you sort the elements of an array in descending order?"
      },
      content: {
        html: ""
        + "<h3 class='govuk-heading-s'>Why do we ask this?</h3>" 
        + "<p class='govuk-body'>We want to know if the interviewee knows how to use basic methods.</p>"
        + "<h3 class='govuk-heading-s'>Guidance answer</h3>"
        + "<p class='govuk-body'>You can use the sort() and reverse() methods.</p>"
      }
    },
    {
      heading: {
        text: "If one member of your team has a different point of view about what direction a project should be heading, how do you rectify this?"
      },
      content: {
        html: ""
        + "<h3 class='govuk-heading-s'>Why do we ask this?</h3>" 
        + "<p class='govuk-body'>We want to know if the interviewee has acceptable communication and problem solving abilities.</p>"
        + "<h3 class='govuk-heading-s'>Guidance answer</h3>"
        + "<p class='govuk-body'>You can ask them for their input and allow them to guide you through their logic so they feel you take their 
          opinion seriously, allowing it to become a team discussion where a conclusion can be reached.</p>"
      }
    }
  ]
}) }}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/govuk.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}

